<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>

    <!-- Link Css -->
    <link rel="stylesheet" href="./styles/style.css">

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">

        <h1>
            Lista Carte Mtg
        </h1>

        <main class="container">
            <div class="taskbar">
                <input type="text" class="nuovo-elemento-lista" name="cartaMtg" id="cartaMtg" v-model="nuovaCarta">
                <button class="bottone" @click="aggiungiCarta(nuovaCarta)">Inserisci</button>
            </div>
            <ul class="lista-carte">
                <li class="carta" v-for='card in listaCarte'>
                    <p v-if= "listaCarte.done !== false">
                        {{card.text}}
                    </p>
                    <p v-else>
                        <s> {{card.text}} </s>
                    </p>
                    <span>
                        <i class="fa-regular fa-circle-xmark"></i>
                    </span>
                </li>
            </ul>
        </main>


    </div>

   


    <script src="./js/script.js"></script>
</body>
</html>